<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>食材在庫一覧</title>
</head>

<body>
    <h2>食材在庫一覧</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>食材名</th>
            <th>在庫数</th>
            <th>値段</th>
        </tr>
        <% let number=0 %>
        <% for( let row of data ) { %>
            <tr>
                <td><%= row.id %></td>
                <td><a href="/food/<%= number %>"><%= row.name %></a></td>
                <td><%= row.stock %></td>
                <td><%= row.price %>円</td>
            </tr>
            <% number +=1 %>
        <% } %>
    </table>
    <br>
    <a href="/food/create">新規登録</a>
</body>

</html>
