<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>
        <%= data.name %>
    </title>
</head>

<body>
    <h2>
        <%= data.name %>の詳細
    </h2>
    <table>
        <tr>
            <th>項目</th>
            <th>データ</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>
                <%= data.id %>
            </td>
        </tr>
        <tr>
            <td>食材名</td>
            <td>
                <%= data.name %>
            </td>
        </tr>
        <tr>
            <td>在庫数</td>
            <td>
                <%= data.stock %>
            </td>
        </tr>
        <tr>
            <td>値段</td>
            <td>
                <%= data.price %>円
            </td>
        </tr>
    </table>
    <br>
    <a href="/food/edit/<%= id %>">編集</a>
    <a href="/food/delete/<%= id %>">削除</a>
    <a href="/food">一覧に戻る</a>
</body>

</html>