<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>カラオケ選曲一覧</title>
    <link rel="stylesheet" href="/public/karaoke_style.css">
</head>

<body>
    <h2>カラオケ選曲一覧</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>曲名</th>
            <th>アーティスト</th>
            <th>ジャンル</th>
            <th>キー</th>
            <th>最高得点</th>
            <th>メモ</th>
        </tr>
        <% let number=0 %>
            <% for( let row of data ) { %>
                <tr>
                    <td>
                        <%= row.id %>
                    </td>
                    <td><a href="/karaoke/<%= number %>">
                            <%= row.title %>
                        </a></td>
                    <td>
                        <%= row.artist %>
                    </td>
                    <td>
                        <%= row.genre %>
                    </td>
                    <td>
                        <%= row.key> 0 ? '+' + row.key : row.key %>
                    </td>
                    <td>
                        <%= row.max_score %>点
                    </td>
                    <td class="memo-cell">
                        <%= row.memo %>
                    </td>
                </tr>
                <% number +=1 %>
                    <% } %>
    </table>
    <br>
    <a href="/karaoke/create">新規登録</a>
</body>

</html>