<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>

<body>
    <p>あなたの手は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %>
    </p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
    <!-- <form action="/my_janken">
        <input type="text" name="hand" required>
        <label for="hand">次は何を出す？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" values="じゃんけん　ポン">
    </form>    -->

    <form action="/my_janken" method="get">
        <input type="radio" name="radio" id="radio1" value="グー">
        <label for="radio1">ぐ</label><br>
        <input type="radio" name="radio" id="radio2" value="チョキ">
        <label for="radio2">ち</label><br>
        <input type="radio" name="radio" id="radio3" value="パー">
        <label for="radio3">ぱ</label><br>
        <input type="hidden" name="win" value=<%=win %>>
        <input type="hidden" name="total" value=<%=total %>>
        <input type="submit" value="送信">

    </form>
</body>

</html>