<!Doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>
        <%= data.part_name %>の編集
    </title>
    <link rel="stylesheet" href="/public/robot_style.css">
</head>

<body>
    <h2>
        <%= data.part_name %>の編集
    </h2>
    <form action="/robot/update/<%= id %>" method="POST">
        <table>
            <tr>
                <th>項目</th>
                <th>データ</th>
            </tr>
            <tr>
                <td>部品名</td>
                <td><input type="text" name="part_name" value="<%= data.part_name %>" required></td>
            </tr>
            <tr>
                <td>型番</td>
                <td><input type="text" name="part_number" value="<%= data.part_number %>"></td>
            </tr>
            <tr>
                <td>注文番号</td>
                <td><input type="text" name="order_number" value="<%= data.order_number %>"></td>
            </tr>
            <tr>
                <td>個数</td>
                <td><input type="number" name="quantity" value="<%= data.quantity %>" min="0" required></td>
            </tr>
            <tr>
                <td>単価</td>
                <td><input type="number" name="price" value="<%= data.price %>" min="0" required></td>
            </tr>
            <tr>
                <td>販売サイト</td>
                <td><input type="url" name="sale_site" value="<%= data.sale_site %>" placeholder="https://"></td>
            </tr>
            <tr>
                <td>データシート</td>
                <td><input type="url" name="datasheet" value="<%= data.datasheet %>" placeholder="https://"></td>
            </tr>
            <tr>
                <td>メモ</td>
                <td><input type="text" name="memo" value="<%= data.memo %>"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="更新">
    </form>
    <a href="/robot">一覧に戻る</a>
</body>

</html>